node_modules/
bower_components/
dist/
*.log
*.swp
*.swo
*.zip
*.tar.gz
*.tar.bz2
*.tar
*.tgz
*.tar.xz
*.tar.lzma
*.tar.lzo
*.tar.sz
*.tar.Z
*.tar.7z
*.tar.rar
*.tar.gz
*.tar.gz2
*.tar.gz3
*.tar.gz4
*.tar.gz5
package-lock.json
yarn.lock
out/